name: Deploy

on:
  workflow_run:
    workflows: ["Docker"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: 5eqn/docker-compose-remote-action@master
        name: Docker-Compose Remote Deployment
        with:
          ssh_host: ${{ secrets.SSH_HOST }}
          ssh_user: ${{ secrets.SSH_USER }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh_host_public_key: ${{ secrets.SSH_HOST_PUBLIC_KEY }}
          docker_compose_prefix: ${{ vars.DOCKER_PREFIX }}
          container_registry: ${{ vars.REGISTRY }}
          container_registry_username: ${{ secrets.REGISTRY_USERNAME }}
          container_registry_password: ${{ secrets.REGISTRY_PASSWORD }}
